.hero-image-contact  {
    background-image: url("../images/anna-horse3.png");
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero-text-contact {
    color: white;
    max-width: 90vw;
    margin-top: 8em;
    margin-bottom: 2em;
    text-align: center;

}


form {
    width: 55vw;
}

@media screen and (max-width: 768px) {
    .form {
        width: 80vw;
    }
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px 0px; 
    outline: 0;
    border: 1px solid #f4f6f4;
    color: #f4f4f4;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #f4f4f4;
    font-weight: 400;
    cursor: text;
    transition: 0.2s;
}


.submit-button {
    background-color: #F4F6F4;
    border: none;
    width: 100%;
    padding: 10px 0;
    color: #31515e;
    font-size: 15px;
    font-weight: 400;
    margin-right: 0;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .submit-button {
        margin-bottom: 4em;
    }
}

@media screen and (min-width: 481px) {
    .submit-button {
        margin-bottom: 6em;
    }
}

.submit-button:hover {
    text-decoration: underline;
}

.fa-paper-plane {
    color: #31515e;
}


input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    justify-content: space-between;
    /* background-color: lightgreen; */
    margin: auto;
}

.row .input-group {
    flex-basis: 44%;
}

select {
    background-color: rgba(244,244,244, 0.7);
    border: none;
    outline: none;
    margin-left: 35px;
    font-family: "Manjari";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding: 2px 0;
}



/* 
.footer-container-contact {
    background-color: #31515e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    z-index: 0;
    bottom: 0;
    margin-top: 0p
   
}

@media screen and (max-width: 768px) {
    .footer-container-contact {
        height: 75vh;
    }
}

@media screen and (max-width: 480px) {
    .footer-container-contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        justify-content: end;
        padding-bottom: 0;
        
    }
} */