.hero-text-contact {
    text-align: center;
    color: white;
    max-width: 90vw;
    /* background-color: pink; */
}

@media screen and (max-width: 480px) {
    .hero-text-contact {
        padding-top: 8em;
    }
}

.hero-image-contact  {
    background-image: url("../images/SandStones.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

form {
    width: 55vw;
    /* background-color: pink; */
}

@media screen and (max-width: 768px) {
    .form {
        width: 80vw;
    }
}

.input-group {
    margin-bottom: 30px;
    position: relative;
    /* background-color: red; */
}

input, textarea {
    width: 100%;
    padding: 10px 0px; 
    outline: 0;
    border: 1px solid #f4f6f4;
    color: #f4f4f4;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #f4f4f4;
    font-weight: 400;
    cursor: text;
    transition: 0.2s;
}


.submit-button {
    background-color: #F4F6F4;
    border: none;
    width: 100%;
    padding: 10px 0;
    color: #31515e;
    font-size: 15px;
    font-weight: 400;
    margin-right: 0;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .submit-button {
        margin-bottom: 8em;
    }
}

.submit-button:hover {
    text-decoration: underline;
}

.fa-paper-plane {
    color: #31515e;
}


input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 44%;
}

select {
    background-color: rgba(244,244,244, 0.7);
    border: none;
    outline: none;
    margin-left: 35px;
    font-family: "Manjari";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding: 2px 0;
}