html {
    scroll-behavior: smooth;
}

body {
    background-color: #F4F6F4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Manjari', sans-serif;
}


/*NAVBAR*/
.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.75em;
    z-index: 999;
    width: 100vw;
    margin: 0 auto;
    font-size: 1.2em;
    overflow: hidden;
    background-color: #F4F6F4;
    position: fixed;
} 

.navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none; 
    height: 60px; 
    overflow: hidden; 
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
}

.navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 150;
    padding: 30px 30px 20px; 
    color: #31515e;
    height: 100%;
}

.navbar-menu a:hover, .dropdown a:hover {
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: underline;
    color:#31515e;
    display: block;
  }

.dropbtn:hover {
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: underline;
    color:#31515e;
}

.dropdown {
    float: left;
    overflow: hidden;
    /* background-color: red; */
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-weight: 150;
    font-size: 1em;
    color: #31515e;
    margin: 0; 
    text-align: center;
    padding: 30px 10px 20px 30px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4F6F4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
  }

.dropdown-content a {
    float: none;
    color: #31515e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: underline;
    color:#31515e;
    background-color: #d4d7d4;
  }

.show {
    display:block;
}



/*HERO IMAGE*/
.hero-image  {
    background-image: url("../images/Transparent\ image.png");
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    background-position: center;
    position: relative;
}



.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


h1 {
    font-weight: 100;
    font-size: 4em;
    font-family: 'Julius Sans One', sans-serif;
    /* color: rgba(255, 255, 255, 0.8); */
    color: #F4F6F4;
}

h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 3vh;
}


h3 {
    font-weight: 100;
    font-size: 2.25em;
    color: #31515e; 
    
}

h4 {
    font-weight: 100;
    font-size: 2.25em;
    color: white; 
    margin-bottom: 20px;
    /* background-color: blue; */
}

h5 {
    font-weight: 100;
    font-size: 1.5em;
    color: white; 
    /* background-color: blue; */
}

h6 {
    font-weight: 100;
    font-style: italic;
    font-size: 4vh;
    color: #31515e; 
    /* background-color: blue; */
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    /* background-color: red; */
}

.what-is-container {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
}

@media screen and (max-width: 768px) {
    .what-is-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.what-is-text {
    width: 35em; 
    color:#31515e;
    padding: 2em;
}

.mountains-image {
    padding: 0.25em;
}
.responsive {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .what-is-text {
        width: 25em;
    }
}


.pink-button {
    background-color: #c79a99;
    border: none;
    border-radius: 0.4rem;
    color: white;
    padding: 1em 2em;
    margin-top: 1em;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
}

.pink-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pink-button a:link {
    color: white;
    text-decoration: none;
}

.pink-button a:visited {
    color: white;
    text-decoration: none;
}






.offer-container {
    width: 100%;
    background-color: #929c94;
}

.offer-text {
    color: white;
    width: 70vw;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}



.gallery-container {
    /* background-color: pink; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
    .gallery-container {
        flex-wrap: wrap;
    }
}


.gallery-item {
    padding: 20px;
}

.link:hover {
    cursor: pointer;
    opacity: 0.6;
}

.description {
    /* background-color: pink; */
    text-align: center;
}

/*BREATHE SECTION*/

.breathe {
    background-color: #F4F6F4;
    color:#31515e;
    text-align: center;
    margin-bottom: 50px;
    max-width: 100%;
}

.fa-quote-left, .fa-quote-right {
    color: #929c94;
}

#Krishnamacharya {
    /* background-color: pink; */
    padding-bottom: 20px;
}

.anna-sunset {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .anna-sunset {
        width: 75vw;
    }
}



.button {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.white-button {
    background-color: #F4F6F4;
    border: none;
    border-radius: 0.4rem;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

.white-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.white-button a:link {
    color: #31515e;
    text-decoration: none;
}

.pink-button a:visited {
    color: #31515e;
    text-decoration: none;
}


.testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding: 2em;
    /* background-color: pink; */
}

@media screen and (max-width: 1024px) {
    .testimonial-container {
        flex-wrap: wrap;
    }
}



.testimonial-item {
    width: 350px;
    padding: 1.5em;

}

.title {
    font-weight: bold;
}

.quote {
    font-size: 0.95em;
    font-style: italic;
}


.to-top-button {
    background-color: #F4F6F4;
    border: none;
    color: #c79a99;
    border-radius: 0.4rem;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight:400;
    font-family: 'Manjari', sans-serif;
    transition: all 0.5s ease;
}

.to-top-button:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #929c94;
    color: white;    
  }


/*FOOTER*/

.footer-container {
    background-color: #31515e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100vw;
    z-index: 0;
}


.navigation-list-end {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5em;
    align-items: center;
    /* background-color: red; */
    max-width: 100vw;
}


.navbar-links-two {
    /* background-color: black; */
    text-decoration: none;
    font-weight: 150;
    margin: 2.5em;
    color: #F4F6F4;
    font-size: 1em;
}

.navigation-list-end-mob {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    /* background-color: red; */
    max-width: 100vw;
}

@media screen and (max-width: 1024px) {
    .navbar-links-two {
        margin: 1em;
    }
}

@media screen and (max-width: 768px) {
    .navbarend {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .navbarend-mob {
        display: none;
    }
}




.link-end:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}
  .copyright {
      color: white;
      margin-top: -10px;
      font-weight:100;
      font-size: small;
  }

  i {
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: white;
  }

  i:hover {
    cursor: pointer;
    color: #929c94;
  }

  
