body {
    background-color: #F4F6F4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Manjari', sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
}

.homelogo {
    z-index: 10;
    padding: 0;
    margin: 0;
    transform: translateX(-580px);
    padding-top:0em;
}

.navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none; 
    height: 60px;  
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 150;
    padding: 30px 30px 20px; 
    color: #31515e;
    height: 100%;
}

.navbar-links:hover {
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: underline;
  }

h1 {
    font-weight: 400;
    font-size: 4em;
    font-family: 'Julius Sans One', sans-serif;
    color: #F4F6F4;
}

h2 {
    font-style: italic;
    font-weight: bold;
    font-weight: 100;
    color: #F4F6F4;
}


h3 {
    font-weight: 100;
    font-size: 2.25em;
    color: #31515e; 
}

h4 {
    font-weight: 100;
    font-size: 2.25em;
    color: white; 
    /* background-color: blue; */
}

h5 {
    font-weight: 100;
    font-size: 1.5em;
    color: white; 
    /* background-color: blue; */
}

h6 {
    font-weight: 100;
    font-style: italic;
    font-size: 2em;
    color: #31515e; 
    /* background-color: blue; */
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5;
    color: #31515e;
    /* background-color: red; */
}

.pink-button {
    background-color: #c79a99;
    border: none;
    border-radius: 0.4rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
}

.pink-button:hover {
    cursor: pointer;
}

.white-button {
    background-color: #F4F6F4;
    border: none;
    border-radius: 0.4rem;
    color: #31515e;
    padding: 10px 32px;
    margin-top:20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
    font-weight: bolder;
}


.white-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.white-button a:link {
    color: #31515e;
    text-decoration: none;
}

.white-button a:visited {
    color: #31515e;
    text-decoration: none;
}


/*WELLNESS*/
.hero-image-wellbeing {
    background-image: url("../images/group-transparent.png");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*RETREATS*/
.hero-image-retreats {
    background-image: url("../images/SandStones.png");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*PRACTICE*/
.hero-image-practice {
    background-image: url("../images/sunsetanna-transparent.png");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-text-programmes {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: smaller;
    transform: translate(-50%, -50%);
    color: white;
}

.top-container {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #F4F6F4;
}

.para1-text p {
    margin: auto;
    width: 800px;
    color:#31515e;
    padding-bottom: 30px;
    font-weight: 400;
}


.retreat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.retreat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.offer-container {
    width: 100%;
    background-color: #929c94;
    margin-top: 2em;
}

.offer-text {
    /* background-color:pink; */
    color:#F4F6F4;
    width: 750px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    
}


.gallery-container {
    margin-top: 50px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.gallery-item {
    padding: 20px;
}

.link:hover {
    cursor: pointer;
    opacity: 0.6;
}

.text-link:link {
    color: #31515e;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.text-link:visited {
    color: #31515e;
    text-decoration: none;
}

.description {
    /* background-color: pink; */
    text-align: center;
}



/*PRACTICE VIDEOS*/

.top-text {
    font-weight: 400;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 2em;
}

.video-text {
    text-align: center;
    font-size: small;
}

.row2 {
    padding-bottom: 3em;
}




/*TESTIMONIALS*/

.testimonial-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.testimonial-item {
    width: 350px;
}

.title {
    font-weight: bold;
}

.quote {
    font-size: 0.95em;
    font-style: italic;
}

.button {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.to-top-button {
    background-color: #F4F6F4;
    border: none;
    color: #c79a99;
    border-radius: 0.4rem;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
   justify-items: center;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
}

.to-top-button:hover {
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: underline;
  }

  .footer-container {
    background-color: #31515e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    z-index: 0;
}


.navigation-list-end {
    list-style-type: none;
    display: flex;
    padding: 50px 50px 0px;
    align-items: center;
}


.navbar-links-two {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 150;
    padding: 30px 30px 20px; 
    color: #F4F6F4;
    height: 100%;
}


.navigation-links-two:hover {
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: underline;
    color: #F4F6F4;
  }



.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright {
      color: white;
      margin-top: -10px;
  }
