.carousel {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    /* border: solid; */
    /* border-color: red; */
    height: 50vh;
    max-width: 400px;
}

.carousel-item {
    height: 50vh;
    background-color: #F4F6F4;
    max-width: 400px;
    color: #31515e;
}


.title {
    /* background-color: red; */
    margin-top: 3em;
    margin-left: 2em;
}

.quote {
    max-width: 300px;
    /* background-color: greenyellow; */
    margin-left: 2em;
}

.carousel-control-prev {
    background-color: #F4F6F4;
    border: none;
    cursor: pointer;
    left: 505px;
    width: 60px;
    outline: #31515e;
}


.carousel-control-next {
    background-color: #F4F6F4;
    border: none;
    cursor: pointer;
    right: 505px;
    width: 60px;
}

.carousel-control-prev:hover {
    background-color: #d4d7d4;
}

.carousel-control-next:hover {
    background-color: #d4d7d4;
}


