body {
    background-color: #F4F6F4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Manjari', sans-serif;
}



/*MENTORSHIP*/
.hero-image-mentorship {
    background-image: url("../images/sunsetyoga-hi-res-transparent.png");
    background-size: cover;
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

@media screen and (max-width:480px) {
    .hero-image-mentorship h2 {
    font-size: 4vw;
}
}


/*IMMERSION*/
.hero-image-immersion {
    background-image: url("../images/treepose-transparent-crop.png");
    background-size: cover;
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

/*NUMEROLOGY*/
.hero-image-numerology {
    background-image: url("../images/numerology-hero-fade-crop.png");
    background-size: cover;
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}



.hero-text-programmes {
    text-align: center;
    color: white;
    max-width: 90vw;
    margin-top: 2em;
}

#numerology {
    color: white;
}

@media screen and (max-width:480px) {
    .hero-text-programmes {
    font-size: 12vw;
}
}

@media screen and (max-width:480px) {
    .hero-image-immersion h2 {
    font-size: 4vw;
}
}

@media screen and (max-width:768px) {
    .hero-image-immersion h2 {
    color: white;
}
}

/*SECTION 1*/
.para1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.para1-text {
    width: 35em;
    color:#31515e;
    justify-content: center;
    margin: 2em 0em;
}

.para1-text h3 {
    padding-bottom: 1em;
}

@media screen and (max-width:1024px) {
    .para1-text h3 {
    padding: 1em 0em;
}
}

@media screen and (max-width:768px) {
    .para1-text {
    max-width: 80vw;
}
}

.image-1 {
    margin: 2em 0em;
    max-width: 100%;
} 

@media screen and (max-width:480px) {
    .image-1 {
    width: 100vw;
    height: auto;
    margin: 1em 0em;
}
}

/*SECTION 2*/

.para2-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    justify-content: space-around;
    flex-wrap: wrap;
}

.para2-text {
    width: 35em;
    color:#31515e;
    justify-content: center;
    margin: 2em 0em;
}

.para2-text h3 {
    padding-bottom: 1em;
}

@media screen and (max-width:768px) {
    .para2-text {
    max-width: 80vw;
}
}

@media screen and (max-width:1024px) {
    .para2-text h3 {
    padding: 1em 0em;
}
}

.image-2 {
    margin: 5em 0em 4em;
    max-width: 100%;
}

@media screen and (max-width:480px) {
    .image-2 {
    width: 100vw;
    height: auto;
    margin: 3em 0em;
}
}

/*WHAT TO EXPECT*/

.expect-container {
    width: 100%;
    background-color: #c79a99;
    padding-top: 5em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expect-title {
    width: 60vw;
    text-align: left;
    padding-bottom: 10px;
}

.expect-list {
    color: #F4F6F4;
    font-size: large;
    max-width: 60vw;
    line-height: 2.25em;
    list-style-type: circle;
    padding-bottom: 0;
}

.expect-list li {
    padding-bottom: 30px;
}

@media screen and (max-width:1024px) {
    .expect-title {
        text-align:center;
    }
}

@media screen and (max-width:1024px) {
    .expect-list {
        max-width: 80vw;
        padding: 1em;
        line-height: 2em;
    }
}


.numbers-list {
    font-style: italic;
}

.numbers-list li {
    line-height: 2em;
    padding-bottom: 0em;
}

/*OFFER GALLERY*/

.gallery-item {
    padding: 20px;
}

.link:hover {
    cursor: pointer;
    opacity: 0.6;
}

.description {
    text-align: center;
}




