body {
    background-color: #F4F6F4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Manjari', sans-serif;
}



/*MENTORSHIP*/
.hero-image-mentorship {
    background-image: url("../images/sunsetyoga-hi-res-transparent.png");
    background-size: cover;
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

/*IMMERSION*/
.hero-image-immersion {
    background-image: url("../images/treepose-transparent-crop.png");
    background-size: cover;
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}





.hero-text-programmes {
    text-align: center;
    color: white;
    max-width: 90vw;
}

@media screen and (max-width:480px) {
    .hero-text-programmes {
    font-size: 12vw;
}
}

.para1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.para1-text {
    width: 35em;
    color:#31515e;
    justify-content: center;
    margin: 2em 0em;
    /* background-color: pink; */
}

@media screen and (max-width:768px) {
    .para1-text {
    max-width: 80vw;
}
}

.image-1 {
    margin: 4em 0em;
} 

@media screen and (max-width:768px) {
    .image-1 {
    width: 100vw;
    height: auto;
}
}

.para2-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    justify-content: space-around;
    flex-wrap: wrap;
}

.para2-text {
    width: 35em;
    color:#31515e;
    justify-content: center;
    margin: 2em 0em;
}

@media screen and (max-width:768px) {
    .para2-text {
    max-width: 80vw;
}
}

.image-2 {
    margin: 9em 0em 4em;
}

@media screen and (max-width:768px) {
    .image-2 {
    width: 100vw;
    height: auto;
}
}

.expect-container {
    width: 100%;
    background-color: #c79a99;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expect-title {
    width: 60vw;
    text-align: left;
}

.expect-list {
    color: #F4F6F4;
    font-size: large;
    max-width: 60vw;
    line-height: 3em;
    list-style-type: circle;
    padding-bottom: 3em;
}
   


.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.gallery-item {
    padding: 20px;
}

.link:hover {
    cursor: pointer;
    opacity: 0.6;
}

.description {
    /* background-color: pink; */
    text-align: center;
}


