body {
    background-color: #F4F6F4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Manjari', sans-serif;
}


/*WELLNESS*/
.hero-image-wellness {
    background-image: url("../images/group-transparent.png");
    background-size: cover;
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text-programmes-2 {
    text-align: center;
    color: white;
}

@media screen and (max-width:768px) {
    .hero-text-programmes-2 {
    font-size: 30pt;
}
}

.top-container {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #F4F6F4;
}

.para1-text p {
    margin: auto;
    max-width: 60em;
    color:#31515e;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
}

@media screen and (max-width:768px) {
    .wellness-img {
        width: 80vw;
        height: auto;
}
}

/*RETREATS*/
.hero-image-retreats {
    background-image: url("../images/SandStones.png");
    background-size: cover;
    height: 500px;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.retreat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.retreat-img {
    height: 362px;
    width: auto;
}

@media screen and (max-width:768px) {
    .retreat-img {
        width: 100vw;
        height: auto;
    }
}

.retreat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5em;
}

/*PRACTICE*/
.hero-image-practice {
    background-image: url("../images/sunsetanna-transparent.png");
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-text-programmes {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: smaller;
    transform: translate(-50%, -50%);
    color: white;
}

.practice-text-container {
    max-width: 100%;
}


@media screen and (max-width: 768px) {
    .practice-text-container {
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .top-text {
        width: 90vw;
    }
}

@media screen and (max-width: 1024px) {
    .video-container {
        flex-wrap: wrap;
    }
}




.offer-container {
    max-width: 100vw;
    background-color: #929c94;
    margin-top: 2em;
}

.offer-text {
    /* background-color:pink; */
    color:#F4F6F4;
    max-width: 40vw;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    
}


.gallery-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
    .gallery-container {
        flex-wrap: wrap;
    }
}

.gallery-item {
    padding: 20px;
}

.link:hover {
    cursor: pointer;
    opacity: 0.6;
}

.text-link:link {
    color: #31515e;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.text-link:visited {
    color: #31515e;
    text-decoration: none;
}

.description {
    /* background-color: pink; */
    text-align: center;
}



/*PRACTICE VIDEOS*/

.practice-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 4em;
    padding-bottom: 2em;
    width: 600px;
}

.top-text {
    font-weight: 400;
    text-align: center;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.video-text {
    text-align: center;
    font-size: small;
}

.video-card {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.row2 {
    padding-bottom: 3em;
}


